<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css" charset="utf-8">
    <script src="/public/js/main.js"></script>
    <title></title>
  </head>
  <body>
    <h1>Hello World</h1>
    <div class="row" style="border: 1px solid blue;">
      <div class="small-2 columns" style="border: 1px solid red;">
        <h4>This is a test</h4>
      </div>
      <div class="small-10 columns" style="border: 1px solid red;">
        <h4>This is a test</h4>
      </div>
    </div>
  </body>
</html>
